# REQUIRED CONFIG
BOT_TOKEN = "5709554003:AAFOpATZaGN2Q-CQerFNi7pbRilfodoJnTo"
GDRIVE_FOLDER_ID = "13Xqp9kN1z-alUCXBzZupJGJEt1DA2bnt"
OWNER_ID =6004174089
DOWNLOAD_DIR = "/usr/src/app/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
TELEGRAM_API =27021142
TELEGRAM_HASH = "9c9321c68c3d12d5b38134d9de3f5513"
# OPTIONAL CONFIG
AUTO_DELETE_UPLOAD_MESSAGE_DURATION = -1
IS_TEAM_DRIVE = "True"
DATABASE_URL = "postgres://azytwkre:d6arhgwkRjQXUswKyAi_-xlAHcHSHIXP@mahmud.db.elephantsql.com/azytwkre"
AUTHORIZED_CHATS = ""
SUDO_USERS = "5179011789"
IGNORE_PENDING_REQUESTS = "True"
USE_SERVICE_ACCOUNTS = "False"
INDEX_URL = "https://rulf-mirror.auternortesanousc-q-4-142.workers.dev/0:/"
STATUS_LIMIT = "3"
STOP_DUPLICATE = "True"
CMD_INDEX = "1"
UPTOBOX_TOKEN = ""
TORRENT_TIMEOUT = "1800"
EXTENSION_FILTER = ""
INCOMPLETE_TASK_NOTIFIER = "True"
# Mirror
MIRROR_LOGS = "-1001816495885"
BOT_PM = "True"
FORCE_BOT_PM = ""
# Leech
LEECH_LOG = "-1001513198187"
USER_SESSION_STRING = "BACqVcsr-4zw9n0lCipFh09ye37aiGNh520gmlC6PH6b0AAloBd7NO-rORirIGBaplLD9wraqKajrWQCRJRfv1gQWxkETKprnOutt6rs7bhau0C51eD2GWN0RalvHyL6Ygnbz3rdhBTOrl1vBdonmZVwjy1jwO4fMLtH0TXCkefOg6FlDqy662jKArsp-UyX_GTKcodHtJJ8R97dO_ZGQgiEEnSTToxi1guQcVphKsTRAGV4NhUuD4hfDqhCcg3K9T9PWvyr6YTu42JJN-d3qxZ3L2dT1h-x0W0fxx8UHl4UMRPUsiLJr7tsWaKrlMPmaaSYcADByjdyIsVi98jb0Z2eAAAAAWXgbQkA"
LEECH_SPLIT_SIZE = ""
AS_DOCUMENT = ""
EQUAL_SPLITS = ""
CUSTOM_FILENAME = ""
# Update
UPSTREAM_REPO = "https://github.com/arshsisodiya/helios-mirror"
UPSTREAM_BRANCH = "master"
# qBittorrent/Aria2c
BASE_URL_OF_BOT = "https://sedate-snail-production.up.railway.app"
SERVER_PORT = "80"
WEB_PINCODE = ""
# RSS
RSS_DELAY = ""
RSS_COMMAND = ""
RSS_CHAT_ID = ""
RSS_USER_SESSION_STRING = ""
# Private Files
ACCOUNTS_ZIP_URL = ""
TOKEN_PICKLE_URL = "https://ultron-mirror.auternortesanousc-q-4-142.workers.dev/0:/token.pickle"
MULTI_SEARCH_URL = ""
YT_COOKIES_URL = ""
NETRC_URL = ""
# Mega
MEGA_API_KEY = "72xiSYQK"
MEGA_EMAIL_ID = "scottwag.mr.0.7.1986@gmail.com"
MEGA_PASSWORD = "MegaMirrorLeechBot"
# Gdtot
CRYPT = ""
# Appdrive
APPDRIVE_EMAIL = ""
APPDRIVE_PASS = ""
# Size Limits
TORRENT_DIRECT_LIMIT = "100"
ZIP_UNZIP_LIMIT = "100"
CLONE_LIMIT = "100"
MEGA_LIMIT = "5"
STORAGE_THRESHOLD = ""
# Telegraph ui
TITLE_NAME = "Rulf-Mirror-Search"
AUTHOR_NAME = "Rulf-mirror"
AUTHOR_URL = "https://t.me/Rulf_MLTB"
# Buttons
VIEW_LINK = "True"
SOURCE_LINK = "True"
START_BTN1_NAME = "Updates 🌐"
START_BTN1_URL = "@Rulf_MLTB"
START_BTN2_NAME = "OWNER 👨‍💻"
START_BTN2_URL = "@cmd_rulf"
# Torrent Search
SEARCH_API_LINK = ""
SEARCH_LIMIT = ""
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/rarbg.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/legittorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/limetorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentscsv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/zooqle.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/eztv.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/kickass_torrent.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/yts_am.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/nyaasi.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/ettv.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/glotorrents.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/thepiratebay.py",
                   "https://raw.githubusercontent.com/nindogo/qbtSearchScripts/master/magnetdl.py",
                   "https://raw.githubusercontent.com/khensolomon/leyts/master/yts.py"]'
# Custom bot commands
# Mirror Related Commands
START_CMD = ""    #Default is "start"
MIRROR_CMD = ""     #Default is "mirror"
ZIP_CMD = ""        #Default is "zipmirror"
UNZIP_CMD = ""      #Default is "unzipmirror"
CANCEL_CMD = ""     #Default is "cancel"
LIST_CMD = ""       #Default is "list"
SEARCH_CMD = ""     #Default is "search"
STATUS_CMD = ""     #Default is "status"
STATS_CMD = ""      #Default is "stats"
HELP_CMD = ""       #Default is "help"
CLONE_CMD = ""      #Default is "clone"
COUNT_CMD = ""      #Default is "count"
YTDL_CMD = ""      #Default is "ytdl"
YTDLZIP_CMD = ""   #Default is "ytdlzip"
QBMIRROR_CMD = ""   #Default is "qbmirror"
QBZIP_CMD = ""      #Default is "qbzipmirror"
QBUNZIP_CMD = ""    #Default is "qbunzipmirror"

#Leech Related CMDs
LEECH_CMD = ""      #Default is "leech"
LEECHSET_CMD = ""   #Default is "leechset"
SETTHUMB_CMD = ""   #Default is "setthumb"
UNZIPLEECH_CMD = "" #Default is "unzipleech"
ZIPLEECH_CMD = ""   #Default is "zipleech"
QBLEECH_CMD = ""    #Default is "qbleech"
QBUNZIPLEECH_CMD = "" #Default is "qbunzipleech"
QBZIPLEECH_CMD = ""    #Default is "qbzipleech"
YTDLLEECH_CMD = ""    #Default is "ytdlleech"
YTDLZIPLEECH_CMD = "" #Default is "ytdlzipleech"
CANCEL_ALL_CMD = "" #Default is  "cancelall
DELETE_CMD = ""     #Default is "del"

# RSS Realted Commands
RSSLIST_CMD = ""
RSSGET_CMD = ""
RSSSUB_CMD = ""
RSSUNSUB_CMD = ""
RSSSET_CMD = ""
ADDLEECHLOG_CMD = ""
RMLEECHLOG_CMD = ""
